@charset utf8 
*{
    width: 100%;
}
body{
    height: 100vh;
    background-color: black;
    background-image: url(https://i.pinimg.com/originals/6a/96/08/6a960898e27a5d8bd3ea95c5a3a9fd30.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
header{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    color: rgb(100, 139, 247);
    height: 200px;
    width: 800px;
    padding-top: 15px;
    padding-left: 30px;
    margin: auto;
    border-radius: 15px;
}
header p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin-bottom: 60px;
    
}
 nav a{
     background-color: rgba(100, 139, 247, 0.579);
     padding: 3px;
     border-radius: 5px;
    margin: 25px;
    text-decoration: none;
    color:black;

}
a:hover{
    background-color: rgba(255, 255, 0, 0.788);
    transition: 1s;
}
article{
    height: 60px;

}
main{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    background-color: lightgray;
    min-width: 400px;
    max-width:800px;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
   /* width: 800px;
    margin: 40px;
    border-radius: 15px;
    padding: 25px;*/
    
}
main p{
    text-align: justify;
    text-indent: 15px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 30px;
    
}